.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(55, 43, 226);
}

#main-form{
    width: 625px;
}

.address{
    width: 410px;
}

.form-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col{
    flex-direction: column;
}

.grow{
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }